#page-create-point {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}
#page-create-point header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
#page-create-point header a {
    color: var(--title-color);
    font-weight: 700;
    display: flex;
    align-items: center;
}
#page-create-point header a span {
    background-image: url(../extras-aula-1/icones/arrow-left.svg);
    height: 24px;
    width: 20px;
    margin-right: 16px;
    display: flex;
}
form {
    background-color: white;
    padding: 64px;
    color: var(--title-color);
    font-weight: 700;
    max-width: 720px;
    margin: 80px auto;
    border-radius: 8px;
}
form h1 {
    font-size: 36px;
    text-align: center;
}
form fieldset {
    margin-top: 64px;
    border: 0;
}
form legend {
    margin-bottom: 40px;
    text-align: center;
}
form legend h2 {
    font-size: 24px;
}
form .field {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 24px;
}
form .field-group {
    display: flex;
}
form input, form select {
    background-color: #f0f0f5;
    border: 0;
    padding: 16px 24px;
    border-radius: 8px;
    outline: none;
}
form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
form .field-group .field + .field {
    margin-left: 16px;
}
form label {
    margin-bottom: 8px;
    font-size: 14px;
}
form button {
    width: 260px;
    height: 56px;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    margin-top: 35px;
    transition: 400ms;
}
form button:hover {
    background-color: #2fb86a;
}
.itens-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
}
.itens-grid li{
    background-color: #f0f0f5;
    border: 2px solid #f5f5f5;
    height: 180px;
    border-radius: 8px;
    padding: 32px 24px 16px;
    display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   cursor: pointer;
   
}
.itens-grid li span {
    margin-top: 45px;
    color: var (--title-color);
}
.itens-grid li.selected {
    background: #e1faec;
    border: 0.2px solid #34cb79;
}
.itens-grid li img,
.itens-grid li span {
    pointer-events: none;
}